body {
  background-color: hsl(0, 0%, 8%);
}

main {
  background-color: hsl(0, 0%, 12%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  padding: 30px;
}

h1, h3, p {
  color: hsl(0, 0%, 100%);
  font-family: "Inter", "sans-serif";
  text-align: center;
}

h1 {
  padding-bottom: auto;
  margin-bottom: auto;
}

h3 {
  font-size: 15px;
}

h2 {
  color: hsl(75, 94%, 57%);
  font-family: "Inter", "sans-serif";
  font-size: 1rem;
  text-align: center;
}

p {
  padding: 40px;
  margin-bottom: 0;
  padding-bottom: 20px;
  font-size: 13px;
}

img {
  height: 100px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div {
  background-color: hsl(0, 0%, 20%);
  border-radius: 10px;
  padding: 1px;
  margin-bottom: 15px;
}